# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular tools user in Data Science
- Create a table
- Few example of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1.  Python
2.  R
3.  SQL

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib
4. Tensorflow

| Data Science Tools |
| -------------|
| MySQL | 
| PixieDust |
| TensorFlow |
| MongoDB |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
1+2

3

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#  This will convert 200 minutes to hours by diving by 60
hours = 200/60
print(f"{hours} hours")

3.3333333333333335 hours

## Author
Adam Spasojevic